#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}
